h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 24px 0;
}
/* The animation code */
@keyframes myAnimation {
  from {
    width: 200px;
  }
  to {
    width: 500px;
  }
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* The element to apply the animation to */
img {
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: 67;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.bold-paragraph {
  color: orange;
}

#bold {
  background-color: black;
  color: green;
}

img {
  width: 100%;
}
